name: workspace-controller

on:
  push:
    branches: [ master ]

jobs:
  manage:
    runs-on: ubuntu-latest

    env:
      TFC_TOKEN: ${{ secrets.TFC_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve

      - name: Export Outputs
        run: terraform output -json > outputs.json

      - name: Execute workspace deletion logic
        run: |
          bash scripts/destroy_and_delete.sh outputs.json
